
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>About Us</h2>
                    <div class="breadcrumb__option">
                        <a href="/index">Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section></br></br>
<!-- Breadcrumb Section End -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="elementor-heading-title elementor-size-default">
                <strong>
                    Us together at India Mart are a family
                </strong>
            </h4>	
        </div>
    </div>	
</div></br></br>
        
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p><b>The India Mart  brings to you a diverse range of traditional and authentic Indian food. 
                Inspired from the desire to share the vastness of the Indian repertoire, Miss. P V, 
                started the India Mart  Chain with the objective of providing authentic Indian food 
                items to the Asian as well as resident community in Canada. Our prime value proposition is based 
                on the 5 Ps of Retailing:</p></b></br></br>
                <p><b>And so, India Mart arose and spread to various retail chains all across Canada. 
                    Committed to sharing what we know best about our Indian heritage and culture, we aimed to do so 
                    by the most evocative medium of all: food.</p></b></br></br>
                    <p><b>With thousands of years behind their creation, 
                        Indian cuisine speaks for itself. It is what drives our culture and brings our people together. 
                        The distinct flavours and ingredients found in the Indian sub-continent and the Middle East, 
                        and most notably, the unique incorporation of spices melded together with the guidance of 
                        long-standing tradition… food is what educates and exposes new generations to the regional 
                        diversity of India and the richness of our culture.</p></b></br></br>
        </div>
    </div>
</div>
        