<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>India Mart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">


</head>

<body>
    <!-- Hero Section Begin -->

    <%- include('header.ejs'); %>
    
    <main>
        <%- body %>
    </main>
        
        <%- include('footer.ejs'); %>
            <!-- Js Plugins -->
            <script src="/javascripts/jquery-3.3.1.min.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
            <script src="/javascripts/jquery.nice-select.min.js"></script>
            <script src="/javascripts/jquery-ui.min.js"></script>
            <script src="/javascripts/jquery.slicknav.js"></script>
            <script src="/javascripts/mixitup.min.js"></script>
            <script src="/javascripts/owl.carousel.min.js"></script>
            <script src="/javascripts/main.js"></script>
            <script src="/javascripts/click.js"></script>

</body>

</html>