
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Profile-Info</h2>
                    <div class="breadcrumb__option">
                        <a href="/index">Home</a>
                        <span>Profile-Page</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Profile Section Begin -->
<section class="profile-info">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h4><strong>Name:</strong> <%= firstname %></h4>
            </div></br></br>

            <div class="col-lg-12">
                <h4><strong>Last Name:</strong> <%= lastname %></h4>
            </div></br></br>

            <div class="col-lg-12">
                <h4><strong>Email:</strong> <%= email %></h4>
            </div></br></br>
    
            <!-- Add more user-specific data here -->
        </div>
    </div>
</section>
<!-- Profile Section End -->

